map_storage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    targetNamespace="https://uwlib-cams.github.io/map_storage/"
    xmlns="https://uwlib-cams.github.io/map_storage/"
    elementFormDefault="qualified"
    vc:minVersion="1.1">
    
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
    <xs:import namespace="http://www.w3.org/2001/XMLSchema"
        schemaLocation="https://www.w3.org/2001/XMLSchema.xsd"/>
    
    <xs:element name="mapStorage" type="mapStorage_type"/>
    
    <xs:complexType name="mapStorage_type">
        <xs:sequence>
            <xs:element name="ap_id" type="ap_id_type" minOccurs="1" maxOccurs="1"/>
            <xs:element name="propSet" type="propSet_type" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="ap_id_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WAU"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="propSet_type">
        <xs:sequence>
            <xs:element name="propSet_id" type="propSet_id_type" minOccurs="1" maxOccurs="1"/>
            <xs:element name="prop" type="prop_type" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- These values might be more reasonably placed in an attribute on the propSet element, but this requires schema work -->
    <xs:simpleType name="propSet_id_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="rda_Work"/>
            <xs:enumeration value="rda_Expression"/>
            <xs:enumeration value="rda_Manifestation"/>
            <xs:enumeration value="rda_Item"/>
            <xs:enumeration value="rda_Agent"/>
            <xs:enumeration value=""/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="prop_type">
        <xs:sequence>
            <xs:element name="prop_iri" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
            <!-- TO DO: Require xml:lang attribute for prop_label; [?] possible to forbid multiple prop_label elements with the same xml:lang attribute value? -->
            <xs:element name="prop_label" type="prop_label_type" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="prop_domain" type="prop_domain_type"/>
        </xs:sequence>
        <!-- ISSUE #2 -->
        <xs:attribute name="pid"/>
    </xs:complexType>
    
    <!-- ISSUE #3 -->
    <xs:complexType name="prop_label_type">
        <xs:attribute ref="xml:lang"/>
    </xs:complexType>
    
    <xs:complexType name="prop_domain_type">
        <xs:simpleContent>
            <xs:extension base="xs:anyURI">
                <xs:attribute name="iri"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
</xs:schema>
