map_storage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    targetNamespace="https://uwlib-cams.github.io/map_storage/"
    xmlns="https://uwlib-cams.github.io/map_storage/" elementFormDefault="qualified"
    vc:minVersion="1.1">

    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
    <xs:import namespace="http://www.w3.org/2001/XMLSchema"
        schemaLocation="https://www.w3.org/2001/XMLSchema.xsd"/>

    <xs:element name="mapStorage" type="mapStorage_type"/>

    <xs:complexType name="mapStorage_type">
        <xs:sequence>
            <xs:element name="id_ap" type="id_ap_type" minOccurs="1" maxOccurs="1"/>
            <xs:element name="propSet" type="propSet_type" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="id_ap_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WAU"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="propSet_type">
        <xs:sequence>
            <xs:element name="id_propSet" type="id_propSet_type" minOccurs="1" maxOccurs="1"/>
            <xs:element name="prop" type="prop_type" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="id_propSet_type">
        <xs:restriction base="xs:string">
            <!-- UPDATE ENUMERATED VALUES HERE -->
            <xs:enumeration value="rda_Work"/>
            <xs:enumeration value="rda_Expression"/>
            <xs:enumeration value="rda_Manifestation"/>
            <xs:enumeration value="rda_Item"/>
            <xs:enumeration value="rda_Agent"/>
            <!-- <xs:enumeration value=""/> -->
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="prop_type">
        <xs:sequence>
            <!-- prop_iri constraint does not seem effective in limiting values to IRIs -->
            <xs:element name="prop_iri" type="iri_type" minOccurs="1" maxOccurs="1"/>
            <xs:element name="prop_label" type="label_type" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="prop_domain" type="iri_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="prop_range" type="iri_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="prop_related_url" type="url_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="platform_set" type="platform_set_type" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="lid_prop"/>
    </xs:complexType>

    <!-- VALIDATION ERROR:
        Element 'prop_iri' is a simple type, so it cannot have attributes, excepting those whose namespace name is identical to 'http://www.w3.org/2001/XMLSchema-instance' and whose [local name] is one of 'type', 'nil', 'schemaLocation' or 'noNamespaceSchemaLocation'. However, the attribute, 'iri' was found.
        -->
    <xs:complexType name="iri_type">
        <xs:simpleContent>
            <xs:extension base="xs:anyURI">
                <xs:attribute name="iri"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- VALIDATION ERROR: 
        Element 'prop_label' must have no character or element information item [children], because the type's content type is empty.
        See issue #3-->
    <xs:complexType name="label_type">
        <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="url_type">
        <xs:simpleContent>
            <xs:extension base="xs:anyURI">
                <xs:attribute name="url"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="platform_set_type">
        <!-- sequence here -->
    </xs:complexType>

</xs:schema>
